<form action="/quizes/answer" method="get">
	<p>Pregunta:<%= pregunta %></p>
	<input type="text" name="respuesta" pattern="[\wñÑáéíóúÁÉÍÓÚ\s]+" required placeholder="Responda aquí" title="Carácteres permitidos a-z , A-Z, 0-9_ y espacios"/>
	<input type="submit" value"Enviar"/>
</form><br>
